<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <%= javascript_importmap_tags %>
    <script src="dist/clipboard.min.js"></script>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice">
        <%= raw flash[:notice] %>
      </p>
    <% end %>

    <% if flash[:alert] %>
      <p class="notice">
        <%= raw flash[:alert] %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
