<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>

    <script>
      document.addEventListener("turbo:render", () => {
        new ClipboardJS(document.getElementById('copy-target'));
      });
    </script>

  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice">
        <%= raw flash[:notice] %>
      </p>
    <% end %>

    <% if flash[:alert] %>
      <p class="notice">
        <%= raw flash[:alert] %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
